<h1>This is coming form contact view</h1>
<div ng-controller="contactController">
Json Name {{jsondetails.name}}
  <br>
Json Phone    {{jsondetails.phone}}
    <ul>
        <li ng-repeat = "x in contacts">
            {{x.name}} / {{x.phone}}
        </li>
    </ul>

    <input ng-model="searchKeyword"> </input>
    <table ng-table>
        <tr ng-repeat= "x in contacts | filter: searchKeyword" >
            <td>{{ x.name   }}</td>
            <td>{{ x.phone }}</td>
        </tr>

    </table>
    survi singh
    {{total}}
</div>