<div class="row">
    <div class="col-md-12 text-center">
        <div class="block wow fadeInUp" data-wow-delay=".3s">
            <section class="cd-intro">
                <h1>Analysis Report</h1>
                <h2>Survey Complete, suitable frameworks/languages -
                    <ul>
                        <h2>Languages</h2>
                        <li ng-repeat="item in out">

                            <b>{{item}}</b>
                        </li>
                        <h2>Databases</h2>
                        <li ng-repeat="items in out1">

                            <b>{{items}}</b>
                        </li>
                        <h2>Frameworks</h2>
                        <li ng-repeat="items in out2">

                            <b>{{items}}</b>
                        </li>
                    </ul>
                </h2>
            </section>
        </div>
    </div>
</div>