<h2>Hello Survey</h2>
Question 1?
Options:
<div class="radio">
    <label><input type="radio" ng-model="radioValue" name="optradio" value="a,b,c,d,e">Option 1</label>
</div>
<div class="radio">
    <label><input type="radio" ng-model="radioValue" name="optradio" value="f,g,h">Option 2</label>
</div>
<div class="radio">
    <label><input type="radio" ng-model="radioValue" name="optradio" value="a,b,c">Option 3</label>
</div>
{{radioValue}}
<button type="submit" ng-click="OnSubmit()">Submit</button>