<div class="row">
    <div class="col-md-12 text-center">
        <div class="block wow fadeInUp" data-wow-delay=".3s">
            <section class="cd-intro">
                <h1>Qualifier Questionaries</h1>
            </section>
            <h2 align="left">Question 1: Does you company support db?
                <div class="radio" >
                    <label><input type="radio" name="optradio">Yes</label>
                </div>
                <div class="radio">
                    <label><input type="radio" name="optradio">No</label>
                </div>
            </h2>
            <br>
            <h2 align="left">Question 2: Does you company support db?
                <div class="radio" >
                    <label><input type="radio" name="optradio">Yes</label>
                </div>
                <div class="radio">
                    <label><input type="radio" name="optradio">No</label>
                </div>
            </h2>
            <br>
            <h2 align="left">Question 3: Does you company support db?
                <div class="radio" >
                    <label><input type="radio" name="optradio">Yes</label>
                </div>
                <div class="radio">
                    <label><input type="radio" name="optradio">No</label>
                </div>
            </h2>
            <br>
            <h2 align="left">Question 4: Does you company support db?
                <div class="radio" >
                    <label><input type="radio" name="optradio">Yes</label>
                </div>
                <div class="radio">
                    <label><input type="radio" name="optradio">No</label>
                </div>
            </h2>
            <br>
            <h2 align="left">Question 5: Does you company support db?
                <div class="radio" >
                    <label><input type="radio" name="optradio">Yes</label>
                </div>
                <div class="radio">
                    <label><input type="radio" name="optradio">No</label>
                </div>
            </h2>
            <a class="btn-lines dark light wow fadeInUp animated smooth-scroll btn btn-default btn-green" data-wow-delay=".3s" href="#works" data-section="#works" >View Assessment</a>

        </div>
    </div>
</div>