<div class="row">
    <div class="col-md-12">
        <div class="block wow fadeInUp" data-wow-delay=".3s">
            <section class="cd-intro text-center">
                <h1>Section 2</h1>
            </section>
            <h2 align="left">Question 6: Do you want a UI for data visualisation?
                <div class="radio" >
                    <label><input type="radio" name="optradio6" ng-model="opt6" value="Pentaho, Informatica, Talend, Skytree, NiFi">Yes</label>
                </div>
                <div class="radio">
                    <label><input type="radio" name="optradio6" ng-model="opt6" value="">No</label>
                </div>
            </h2>
            <br>
            <h2 align="left">Question 7: Do you want a UI for data flow design?
                <div class="radio" >
                    <label><input type="radio" name="optradio7" ng-model="opt7" value="Pentaho, Talend, SkyTree, Nifi">Yes</label>
                </div>
                <div class="radio">
                    <label><input type="radio" name="optradio7" ng-model="opt7" value="">No</label>
                </div>
            </h2>
            <br>
            <h2 align="left">Question 8: How do you categorize your organization programming skills?
                <div class="radio" >
                    <label><input type="radio" name="optradio8" ng-model="opt8" value="">High</label>
                </div>
                <div class="radio" >
                    <label><input type="radio" name="optradio8" ng-model="opt8" value="">Medium</label>
                </div>
                <div class="radio" >
                    <label><input type="radio" name="optradio8" ng-model="opt8" value="">Low</label>
                </div>
            </h2>
            <br>
            <h2 align="left">Question 9: How would you describe the size of your technical recourses?
                <div class="radio" >
                    <label><input type="radio" name="optradio9" ng-model="opt9" value="">Small (1-20)</label>
                </div>
                <div class="radio">
                    <label><input type="radio" name="optradio9" ng-model="opt9" value="">Medium (20-50)</label>
                </div>
                <div class="radio">
                    <label><input type="radio" name="optradio9" ng-model="opt9" value="">Large (50-150+)</label>
                </div>
            </h2>
            <br>
            <h2 align="left">Question 10: What integrated services do you require?
                <div class="radio" >
                    <label><input type="radio" name="optradio10" ng-model="opt10" value="Pentaho, Informatica, Talend">Data Integration</label>
                </div>
                <div class="radio" >
                    <label><input type="radio" name="optradio10" ng-model="opt10" value="Pentaho, Informatica">Embedded Analytics</label>
                </div>
                <div class="radio" >
                    <label><input type="radio" name="optradio10" ng-model="opt10" value="Pentaho, Talend">IoT Analytics</label>
                </div>
                <div class="radio" >
                    <label><input type="radio" name="optradio10" ng-model="opt10" value="Talend, Informatica">Big Data Management/Governance</label>
                </div>
                <div class="radio" >
                    <label><input type="radio" name="optradio10" ng-model="opt10" value="Talend, Skytree, Informatica">Machine Learning</label>
                </div>
                <div class="radio" >
                    <label><input type="radio" name="optradio10" ng-model="opt10" value="Distributed Data Coordination">Distributed Data Coordination</label>
                </div>
            </h2>
            <button align="right" class="btn-lines dark light wow fadeInUp animated smooth-scroll btn btn-default btn-green" ng-click="OnAssessmentSubmit()" data-wow-delay=".3s">Show Analysis</button>

        </div>
    </div>
</div>