<div class="row">
    <div class="col-md-12 text-center">
        <div class="block wow fadeInUp" data-wow-delay=".3s">
            <section class="cd-intro">
                <h1>Analysis Report</h1>
                <h2>{{result}}</h2>
            </section>
            <button ng-show={{needCloud}} class="btn-lines dark light wow fadeInUp animated smooth-scroll btn btn-default btn-green" ng-click="start()" data-wow-delay=".3s" data-section="#works" > We want to know about your company further</button>

        </div>
    </div>
</div>