<div class="jumbotron text-center" ng-controller="HomeController">
    <h2 class="tagline"><span class="app-logo">EVENTS</span> | <span>What's Happening Around Me</span></h2>
    <div class="row">
        <div class="col-md-12">
            <div id="map" class="map-view">

            </div>
           <!-- <div id="class" ng-repeat="marker in markers | orderBy : 'title'">
                <a href="#" ng-click="openInfoWindow($event, marker)">{{marker.title}}</a>
            </div>-->
        </div>
    </div>
</div>