<section class="container" ng-Controller="FavouriteEventController" ng-init ="init()">
    <div class="row">
        <section ng-show = 'noResults' class='col-md-6'>
            <p style="padding: 30px; font-size: x-large;"><i class="fa fa-exclamation-triangle"></i> Sorry, no events found.</p>
        </section>

        <section ng-show = '!noResults' class="col-md-6">
            <div class="row">
                <div class="col-md-12">
                    <label for="search">Search:</label> <input ng-model="q" id="search" class="form-control" placeholder="Filter text">
                </div>
            </div>
            <br>
            <div style="overflow:auto; height:590px;">
                <ul class="list-group">
                    <li class="list-group-item" ng-repeat ="record in basicSearchRecords | filter:q">
                        <div class="row">
                            <a href="#/eventDetail/{{record.id}}">
                                <div class="col-md-4">
                                    <img style="width: 70%; margin-left: 30px; margin-top: 10px;"
                                         alt="{{record.name.text}}" ng-src={{record.logo.url}} check-image>
                                </div>
                                <div class="col-md-8" style="padding: 10px;">
                                    <p>
                                        <b>{{record.name.text}}</b>
                                    </p>
                                    <p>
                                        <i class="fa fa-calendar-times-o"></i>&nbsp;{{record.start.local |
                                        date:'EEE, MMM dd yyyy, hh:mm a'}}
                                    </p>
                                    <p>Capacity:&nbsp;{{record.capacity}}</p>
                                </div>

                            </a>
                            <a href= "" ng-click="createMarker(record)">
                                <p align="right"><i class="fa fa-map-marker"></i>&nbsp;Show on Map&nbsp;</p>
                            </a>
                        </div>
                    </li>
                </ul>
            </div>
        </section>

        <section class="col-md-6" style="padding-top: 25px;">
            <div id ="eEvent" class="map-view">
            </div>
        </section>

    </div>
</section>