<div>
    <div class="col-lg-4">
        <label>Search</label>
        <input ng-model = "searchKey" class="form-control">
        <br>
        <button ng-click="search()" class="btn-warning"> search event</button>
        <br>
    </div>

    <div class="table-responsive col-lg-10">
    <table class="table table-bordered">
        <tr>
            <td>
                Event name
            </td>
            <td>
                Event Location
            </td>
        </tr>
        <tr ng-repeat = "event in events">
                <td>
                    {{event.name.text}}
                </td>
                <td>
                    {{event.venue.name}}
                </td>
        </tr>
    </table>
    </div>

</div>