    <section class="container-fluid" ng-Controller="HeaderController">
        <section class="col-md-2"><span class="app-logo">Events</span></section>
        <section class="col-md-4">
            <div class="input-group search-controls" id="adv-search" style="width: 345px;">
                <input type="text" class="form-control" ng-model="query" placeholder="Enter Keywords" />
                <div class="input-group-btn">
                    <button class="btn btn-primary" type="submit" ng-click=getEvent(query) >
                        <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                    </button>
                </div>
            </div>
        </section>
        <section class="col-md-6">
            <ul class="nav navbar-nav navbar-right">
                <li ng-class="{'active' : $location.url().indexOf('login') != -1}" ng-hide="currentUser">
                    <a href="#/login"><i class="fa fa-sign-in"></i> Login</a></li>
                <li ng-show="currentUser" ng-click="logout()">
                    <a href="#login"><i class="fa fa-sign-out"></i> Log Out</a></li>
                <li ng-class="{'active' : $location.url().indexOf('home') != -1}">
                    <a href="#/home"><i class="fa fa-home"></i> Home</a></li>
                <li ng-class="{'active' : $location.url().indexOf('myFavouriteEvent') != -1}" ng-show="currentUser">
                    <a href="#/myFavouriteEvent"><i class="fa fa-child"></i> My Events</a></li>
                <li ng-class="{'active' : $location.url().indexOf('mypreference') != -1}" ng-show="currentUser">
                    <a href="#/mypreference"><i class="fa fa-diamond"></i></i> Favourites</a></li>
                <li ng-class="{'active' : $location.url().indexOf('myhistory') != -1}" ng-show="currentUser">
                    <a href="#/myhistory"><i class="fa fa-history"></i></i> History</a></li>
                <li ng-class="{'active' : $location.url().indexOf('contact') != -1}">
                    <a href="#/contact" ng-hide="currentUser && currentUser.role.indexOf('admin') >=0"><i class="fa fa-comment"></i>
                    Contact</a></li>
                <li ng-class="{'active' : $location.url().indexOf('contact') != -1}">
                    <a href="#/uploadevent" ng-show="currentUser && currentUser.role.indexOf('admin') >=0">
                    <i class="fa fa-upload"></i>Upload</a></li>
            </ul>
        </section>
    </section>
