<div class="container larger-form alt-font">
    <h2>Contact Me - <i class="fa fa-users"></i> </h2> <br>
    <div class="col-md-8">
        <p><i class="fa fa-user-secret"></i> Survi Singh</p>
        <p><i class="fa fa-envelope"></i> singh.surv@husky.neu.edu</p>
        <br>
        <p> <i class="fa fa-university"></i> Developed under the guidance of Professor Jose Annunziato. </p>
    </div>
    <div class="col-md-4" style="text-align: center;">
        <img style="width: 70%; margin-left: 30px; margin-top: 10px;" src="../../../../assets/images/profile3.jpg">
    </div>
</div>